/* PrimeReact theme - choose one */
/* @import "primereact/resources/themes/lara-dark-purple/theme.css"; */
/* @import "primereact/resources/themes/saga-blue/theme.css"; */
@import "tailwindcss";
@import "primereact/resources/themes/lara-light-purple/theme.css";

/* PrimeReact core */
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

.p-dataview-header {
    background: inherit;
    border: 0;
}

.p-datascroller-list > li {
    display: flex;
    width: 100%;
}

.fixed-textarea {
    overflow-y: auto;
    resize: none;
}
